@import 'tailwindcss';

/*
  The default border color has changed to 'currentcolor' in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@theme {
  /* White & Black */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-base: var(--color-gray-950);

  /* Akhlak/Light Blue - Primary */
  --color-primary-25: #f0fffb;
  --color-primary-50: #e2fef7;
  --color-primary-100: #d4fcf3;
  --color-primary-200: #94f7e9;
  --color-primary-300: #5de8e0;
  --color-primary-400: #34cfd2;
  --color-primary-500: #00a3b5;
  --color-primary-600: #007f9b;
  --color-primary-700: #006082;
  --color-primary-800: #004568;
  --color-primary-900: #003256;
  --color-primary-950: #00243d;
  --color-primary-default: var(--color-primary-500);
  --color-primary: var(--color-primary-default);

  /* Akhlak/Dark Blue - Secondary */
  --color-secondary-25: #f6f8fe;
  --color-secondary-50: #e9eefb;
  --color-secondary-100: #d6def6;
  --color-secondary-200: #b0bfee;
  --color-secondary-300: #7c8ecc;
  --color-secondary-400: #4e5d99;
  --color-secondary-500: #1e2855;
  --color-secondary-600: #151e49;
  --color-secondary-700: #0f153d;
  --color-secondary-800: #090e31;
  --color-secondary-900: #050928;
  --color-secondary-950: #04071a;
  --color-secondary-default: var(--color-secondary-500);
  --color-secondary: var(--color-secondary-default);

  /* Gray Light */
  --color-gray-25: #f7f7f7;
  --color-gray-50: #eaeaea;
  --color-gray-100: #d4d4d4;
  --color-gray-200: #bfbfbf;
  --color-gray-300: #a9a9a9;
  --color-gray-400: #949494;
  --color-gray-500: #7e7e7e;
  --color-gray-600: #696969;
  --color-gray-700: #535353;
  --color-gray-800: #3e3e3e;
  --color-gray-900: #282828;
  --color-gray-950: #1c1c1c;
  --color-gray-default: var(--color-gray-500);
  --color-gray: var(--color-gray-default);

  /* Red */
  --color-error-25: #fef6f6;
  --color-error-50: #fdf2f2;
  --color-error-100: #fbe5e5;
  --color-error-200: #f8d0d0;
  --color-error-300: #f3aeae;
  --color-error-400: #e98080;
  --color-error-500: #da4a4a;
  --color-error-600: #c83a3a;
  --color-error-700: #a82d2d;
  --color-error-800: #8b2929;
  --color-error-900: #742828;
  --color-error-950: #3f1010;
  --color-error-default: var(--color-error-500);
  --color-error: var(--color-error-default);

  /* Orange - Warning */
  --color-warning-25: #fffef0;
  --color-warning-50: #fffcea;
  --color-warning-100: #fff3c5;
  --color-warning-200: #ffe785;
  --color-warning-300: #ffd446;
  --color-warning-400: #ffbf1b;
  --color-warning-500: #ff9c00;
  --color-warning-600: #e27400;
  --color-warning-700: #bb4f02;
  --color-warning-800: #983d08;
  --color-warning-900: #7c320b;
  --color-warning-950: #481800;
  --color-warning-default: var(--color-warning-500);
  --color-warning: var(--color-warning-default);

  /* Green - Success */
  --color-success-25: #f1fef8;
  --color-success-50: #ecfdf5;
  --color-success-100: #d1fae5;
  --color-success-200: #a7f3d0;
  --color-success-300: #6ee7b7;
  --color-success-400: #34d399;
  --color-success-500: #10b981;
  --color-success-600: #059669;
  --color-success-700: #047857;
  --color-success-800: #065f46;
  --color-success-900: #064e3b;
  --color-success-950: #083d2f;
  --color-success-default: var(--color-success-500);
  --color-success: var(--color-success-default);

  /* Blue - Info */
  --color-info-25: #f5f9ff;
  --color-info-50: #f0f5fe;
  --color-info-100: #dee8fb;
  --color-info-200: #c5d9f8;
  --color-info-300: #9dc1f3;
  --color-info-400: #6e9eec;
  --color-info-500: #4c7ce5;
  --color-info-600: #3760d9;
  --color-info-700: #2e4cc7;
  --color-info-800: #2b40a2;
  --color-info-900: #283980;
  --color-info-950: #1f2855;
  --color-info-default: var(--color-info-500);
  --color-info: var(--color-info-default);

  /* Tosca */
  --color-tosca-25: #f5fffc;
  --color-tosca-50: #e8fdf6;
  --color-tosca-100: #cdfef1;
  --color-tosca-200: #b8fbea;
  --color-tosca-300: #93f3e3;
  --color-tosca-400: #75e8de;
  --color-tosca-500: #4adada;
  --color-tosca-600: #36afbb;
  --color-tosca-700: #25889c;
  --color-tosca-800: #17637e;
  --color-tosca-900: #0e4968;
  --color-tosca-950: #0b3951;
  --color-tosca-default: var(--color-tosca-500);
  --color-tosca: var(--color-tosca-default);

  /* Purple */
  --color-purple-25: #fcfaff;
  --color-purple-50: #f9f5ff;
  --color-purple-100: #f4ebff;
  --color-purple-200: #e9d7fe;
  --color-purple-300: #d6bbfb;
  --color-purple-400: #b692f6;
  --color-purple-500: #9e77ed;
  --color-purple-600: #7f56d9;
  --color-purple-700: #6941c6;
  --color-purple-800: #53389e;
  --color-purple-900: #42307d;
  --color-purple-950: #2c1c5f;
  --color-purple-default: var(--color-purple-500);
  --color-purple: var(--color-purple-default);

  /* accent cream */
  --color-cream-base: #FFEED0;
  --color-cream-10: #FFFCF6;
  --color-cream-20: #FFF9EF;
  --color-cream-30: #FFF6E7;
  --color-cream-40: #FFF4E0;
  --color-cream-50: #FFF1D8;
  --color-cream-60: #D4C6AD;
  --color-cream-70: #AA9F8B;
  --color-cream-80: #807768;
  --color-cream-90: #554F45;
  --color-cream-100: #33302A;

  /* accent brown */
    --color-brown-base: #54382A;
  --color-brown-10: #DDD7D4;
  --color-brown-20: #C6BDB8;
  --color-brown-30: #A99B94;
  --color-brown-40: #8D7A71;
  --color-brown-50: #71594E;
  --color-brown-60: #462F23;
  --color-brown-70: #38251C;
  --color-brown-80: #2A1C15;
  --color-brown-90: #1C130E;
  --color-brown-100: #110B08;

  /* shadow default */
  --color-shadow: #0000000d;

  /* Semantic alias */
  --color-danger: var(--color-error-500);
  --color-danger-dark: var(--color-error-900);

  /* Font */
  --font-sans: 'Inter', system-ui, sans-serif;

  /* Body */
  --text-body-xs: 12px;
  --text-body-sm: 14px;
  --text-body-md: 16px;
  --text-body-lg: 18px;
  --text-body-xl: 20px;

  /* Headings */
  --text-h4: 24px;
  --text-h3: 30px;
  --text-h2: 36px;
  --text-h1: 48px;

  /* Display */
  --text-display-sm: 60px;
  --text-display-md: 72px;
  --text-display-lg: 96px;
  --text-display-xl: 128px;
  --text-display-xxl: 8.75rem;

  /* Global typography rules */
  --leading-base: 1.5;

  /* Spacing */
  --spacing-0: 0px;
  --spacing-px: 1px;
  --spacing-0_5: 2px;
  --spacing-1: 4px;
  --spacing-1_5: 6px;
  --spacing-2: 8px;
  --spacing-2_5: 10px;
  --spacing-3: 12px;
  --spacing-3_5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 28px;
  --spacing-8: 32px;
  --spacing-9: 36px;
  --spacing-10: 40px;
  --spacing-11: 44px;
  --spacing-12: 48px;
  --spacing-13: 56px;
  --spacing-14: 64px;
  --spacing-15: 80px;
  --spacing-16: 96px;
  --spacing-17: 112px;
  --spacing-18: 128px;
  --spacing-19: 144px;
  --spacing-20: 160px;

  /* Shadows */
  --shadow-0: 0 0px 0px var(--shadow-color);
  --shadow-2xs: 0 1px 0px var(--shadow-color);
  --shadow-xs: 0 2px 0px var(--shadow-color);
  --shadow-sm: 0 3px 0px var(--shadow-color);
  --shadow-md: 0 4px 0px var(--shadow-color);
  --shadow-lg: 0 6px 0px var(--shadow-color);
  --shadow-xl: 0 8px 0px var(--shadow-color);
  --shadow-2xl: 0 10px 0px var(--shadow-color);
  --shadow-3xl: 0 12px 0px var(--shadow-color);

  /* Border Radius */
  --radius-0: 0;
  --radius-2xs: 1px;
  --radius-xs: 2px;
  --radius-sm: 3px;
  --radius-md: 4px;
  --radius-lg: 6px;
  --radius-xl: 8px;
  --radius-2xl: 10px;
  --radius-3xl: 12px;
}

@layer components {
  .text-base {
    @apply font-sans leading-(--leading-base);
  }

  .text-body-sm {
    @apply text-base text-body-sm;
  }
  .text-body-md {
    @apply text-base text-body-md;
  }
  .text-body-lg {
    @apply text-base text-body-lg;
  }

  .text-body-xl {
    @apply text-base text-body-xl;
  }
  .text-h4 {
    @apply text-base text-h4;
  }
  .text-h4 {
    @apply text-base text-h4;
  }
  .text-h3 {
    @apply text-base text-h3;
  }
  .text-h2 {
    @apply text-base text-h2;
  }
  .text-h1 {
    @apply text-base text-h1;
  }

  .text-display-sm {
    @apply text-base text-display-sm;
  }
  .text-display-md {
    @apply text-base text-display-md;
  }
  .text-display-lg {
    @apply text-base text-display-lg;
  }
  .text-display-xl {
    @apply text-base text-display-xl;
  }
  .text-display-xxl {
    @apply text-base text-display-xxl;
  }
}

@layer utilities {
  .text-shadow-flat-sm {
    text-shadow: 0 3px 0 var(--btn);
  }

  .text-shadow-flat-md {
    text-shadow: 0 4px 0 var(--btn);
  }

  .text-shadow-flat-lg {
    text-shadow: 0 8px 0 var(--btn);
  }

  .text-stroke-sm {
    -webkit-text-stroke: 1px var(--btn);
  }

  .text-stroke-md {
    -webkit-text-stroke: 2px var(--btn);
  }

  .text-cartoon {
    font-weight: 900;
    line-height: 1;
    word-spacing: -1px;
    color: var(--color-white);
    -webkit-text-stroke: var(--text-stroke, 5px) var(--btn);
    -webkit-text-stroke-linejoin: round;
    paint-order: stroke fill;
    filter: drop-shadow(0px var(--text-shadow, 4px) 0 var(--btn));
  }

  .text-cartoon-sm {
    --text-stroke: 4px;
    --text-shadow: 3px;
  }

  .text-cartoon-md {
    --text-stroke: 5px;
    --text-shadow: 4px;
  }

  .text-cartoon-lg {
    --text-stroke: 6px;
    --text-shadow: 6px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
