@reference "#tailwind.css";

.ui-button {
  --button-shadow-color: var(--color-shadow);

  --button-border-color: transparent;
  --button-hover-border-color: var(--button-border-color);
  --button-active-border-color: var(--button-border-color);

  --button-background-color: ;
  --button-hover-background-color: var(--button-background-color);
  --button-active-background-color: var(--button-background-color);

  --button-color: ;
  --button-hover-color: var(--button-color);
  --button-active-color: var(--button-color);
}

.ui-button {
  @apply flex items-center justify-center gap-2 border transition-colors duration-300 active:outline-none overflow-hidden cursor-pointer;
  box-shadow: 0 1px 2px 0 var(--button-shadow-color);
  border-color: var(--button-border-color);
  background: var(--button-background-color);
  color: var(--button-color);

  &:hover {
    border-color: var(--button-hover-border-color);
    background: var(--button-hover-background-color);
    color: var(--button-hover-color);
  }

  &:active {
    border-color: var(--button-active-border-color);
    background: var(--button-active-background-color);
    color: var(--button-active-color);
  }
}

.ui-button__label {
  @apply flex-1 font-medium text-ellipsis text-nowrap overflow-hidden;
}

.ui-button--trailing {
  @apply flex-row-reverse;
}

.ui-button--square {
  aspect-ratio: 1/1;
}

/** VARIANT **/

.ui-button--solid,
.ui-button--soft {
  --button-border-color: transparent;
}

.ui-button--outline {
  --button-background-color: transparent;
}

.ui-button--transparent {
  --button-background-color: transparent;
  --button-hover-background-color: var(--color-gray-25);
  --button-active-background-color: var(--color-gray-50);

  --button-border-color: transparent;
  box-shadow: none;
}

/** COLOR **/

.ui-button--solid {
  &.ui-button--primary {
    --button-background-color: var(--color-primary-500);
    --button-hover-background-color: var(--color-primary-600);
    --button-active-background-color: var(--color-primary-700);

    --button-color: var(--color-white);
  }

  &.ui-button--secondary {
    --button-background-color: var(--color-secondary-500);
    --button-hover-background-color: var(--color-secondary-600);
    --button-active-background-color: var(--color-secondary-700);

    --button-color: var(--color-white);
  }

  &.ui-button--success {
    --button-background-color: var(--color-success-500);
    --button-hover-background-color: var(--color-success-600);
    --button-active-background-color: var(--color-success-700);

    --button-color: var(--color-white);
  }

  &.ui-button--info {
    --button-background-color: var(--color-info-500);
    --button-hover-background-color: var(--color-info-600);
    --button-active-background-color: var(--color-info-700);

    --button-color: var(--color-white);
  }

  &.ui-button--warning {
    --button-background-color: var(--color-warning-500);
    --button-hover-background-color: var(--color-warning-600);
    --button-active-background-color: var(--color-warning-700);

    --button-color: var(--color-white);
  }

  &.ui-button--error {
    --button-background-color: var(--color-error-500);
    --button-hover-background-color: var(--color-error-600);
    --button-active-background-color: var(--color-error-700);

    --button-color: var(--color-white);
  }

  &.ui-button--ghost {
    --button-background-color: var(--color-gray-600);
    --button-hover-background-color: var(--color-gray-700);
    --button-active-background-color: var(--color-gray-800);

    --button-color: var(--color-white);
  }
}

.ui-button--outline {
  &.ui-button--primary {
    --button-border-color: var(--color-primary-500);
    --button-hover-border-color: var(--color-primary-600);
    --button-active-border-color: var(--color-primary-700);

    --button-hover-background-color: var(--color-primary-600);
    --button-active-background-color: var(--color-primary-700);

    --button-color: var(--color-primary-500);
    --button-hover-color: var(--color-white);
    --button-active-color: var(--color-white);
  }

  &.ui-button--secondary {
    --button-border-color: var(--color-secondary-500);
    --button-hover-border-color: var(--color-secondary-600);
    --button-active-border-color: var(--color-secondary-700);

    --button-hover-background-color: var(--color-secondary-600);
    --button-active-background-color: var(--color-secondary-700);

    --button-color: var(--color-secondary-500);
    --button-hover-color: var(--color-white);
    --button-active-color: var(--color-white);
  }

  &.ui-button--success {
    --button-border-color: var(--color-success-500);
    --button-hover-border-color: var(--color-success-600);
    --button-active-border-color: var(--color-success-700);

    --button-hover-background-color: var(--color-success-600);
    --button-active-background-color: var(--color-success-700);

    --button-color: var(--color-success-500);
    --button-hover-color: var(--color-white);
    --button-active-color: var(--color-white);
  }

  &.ui-button--info {
    --button-border-color: var(--color-info-500);
    --button-hover-border-color: var(--color-info-600);
    --button-active-border-color: var(--color-info-700);

    --button-hover-background-color: var(--color-info-600);
    --button-active-background-color: var(--color-info-700);

    --button-color: var(--color-info-500);
    --button-hover-color: var(--color-white);
    --button-active-color: var(--color-white);
  }

  &.ui-button--warning {
    --button-border-color: var(--color-warning-500);
    --button-hover-border-color: var(--color-warning-600);
    --button-active-border-color: var(--color-warning-700);

    --button-hover-background-color: var(--color-warning-600);
    --button-active-background-color: var(--color-warning-700);

    --button-color: var(--color-warning-500);
    --button-hover-color: var(--color-white);
    --button-active-color: var(--color-white);
  }

  &.ui-button--error {
    --button-border-color: var(--color-error-500);
    --button-hover-border-color: var(--color-error-600);
    --button-active-border-color: var(--color-error-700);

    --button-hover-background-color: var(--color-error-600);
    --button-active-background-color: var(--color-error-700);

    --button-color: var(--color-error-500);
    --button-hover-color: var(--color-white);
    --button-active-color: var(--color-white);
  }

  &.ui-button--ghost {
    --button-border-color: var(--color-gray-50);

    --button-hover-background-color: var(--color-gray-25);
    --button-active-background-color: var(--color-gray-50);

    --button-color: var(--color-gray-700);
  }
}

.ui-button--soft {
  &.ui-button--primary {
    --button-background-color: var(--color-primary-25);
    --button-hover-background-color: var(--color-primary-50);
    --button-active-background-color: var(--color-primary-100);

    --button-color: var(--color-primary-500);
    --button-hover-color: var(--color-primary-600);
    --button-active-color: var(--color-primary-700);
  }

  &.ui-button--secondary {
    --button-background-color: var(--color-secondary-25);
    --button-hover-background-color: var(--color-secondary-50);
    --button-active-background-color: var(--color-secondary-100);

    --button-color: var(--color-secondary-500);
    --button-hover-color: var(--color-secondary-600);
    --button-active-color: var(--color-secondary-700);
  }

  &.ui-button--success {
    --button-background-color: var(--color-success-25);
    --button-hover-background-color: var(--color-success-50);
    --button-active-background-color: var(--color-success-100);

    --button-color: var(--color-success-500);
    --button-hover-color: var(--color-success-600);
    --button-active-color: var(--color-success-700);
  }

  &.ui-button--info {
    --button-background-color: var(--color-info-25);
    --button-hover-background-color: var(--color-info-50);
    --button-active-background-color: var(--color-info-100);

    --button-color: var(--color-info-500);
    --button-hover-color: var(--color-info-600);
    --button-active-color: var(--color-info-700);
  }

  &.ui-button--warning {
    --button-background-color: var(--color-warning-25);
    --button-hover-background-color: var(--color-warning-50);
    --button-active-background-color: var(--color-warning-100);

    --button-color: var(--color-warning-500);
    --button-hover-color: var(--color-warning-600);
    --button-active-color: var(--color-warning-700);
  }

  &.ui-button--error {
    --button-background-color: var(--color-error-25);
    --button-hover-background-color: var(--color-error-50);
    --button-active-background-color: var(--color-error-100);

    --button-color: var(--color-error-500);
    --button-hover-color: var(--color-error-600);
    --button-active-color: var(--color-error-700);
  }

  &.ui-button--ghost {
    --button-background-color: var(--color-gray-25);
    --button-hover-background-color: var(--color-gray-50);
    --button-active-background-color: var(--color-gray-100);

    --button-color: var(--color-gray-700);
  }
}

.ui-button--transparent {
  &.ui-button--primary {
    --button-color: var(--color-primary-500);
  }

  &.ui-button--secondary {
    --button-color: var(--color-secondary-500);
  }

  &.ui-button--success {
    --button-color: var(--color-success-500);
  }

  &.ui-button--info {
    --button-color: var(--color-info-500);
  }

  &.ui-button--warning {
    --button-color: var(--color-warning-500);
  }

  &.ui-button--error {
    --button-color: var(--color-error-500);
  }

  &.ui-button--ghost {
    --button-color: var(--color-gray-700);
  }
}

/** SIZE **/

.ui-button--xs {
  @apply p-1 text-xs rounded-[0.25rem];

  &.ui-button--square {
    @apply p-0;
  }
}

.ui-button--sm {
  @apply px-2 text-xs rounded-[0.25rem];
  height: 30px;

  &.ui-button--square {
    @apply px-0;
    width: 30px;
    min-width: 30px;
  }
}

.ui-button--md {
  @apply px-2.5 text-sm rounded-[0.375rem];
  height: 36px;

  &.ui-button--square {
    @apply px-0;
    width: 36px;
    min-width: 36px;
  }
}

.ui-button--lg {
  @apply px-3 text-sm rounded-[0.5rem];
  height: 40px;

  &.ui-button--square {
    @apply px-0;
    width: 40px;
    min-width: 40px;
  }
}

.ui-button--xl {
  @apply px-4 rounded-[0.625rem];
  height: 44px;

  &.ui-button--square {
    @apply px-0;
    width: 44px;
    min-width: 44px;
  }
}

/** STATE **/

.ui-button.ui-button--disabled,
.ui-button[disabled] {
  --button-border-color: transparent;
  --button-hover-border-color: var(--button-border-color);
  --button-active-border-color: var(--button-border-color);

  --button-background-color: var(--color-gray-25);
  --button-hover-background-color: var(--button-background-color);
  --button-active-background-color: var(--button-background-color);

  --button-color: var(--color-gray-200);
  --button-hover-color: var(--button-color);
  --button-active-color: var(--button-color);

  @apply cursor-not-allowed;
}
