@import 'tailwindcss';

@layer base {
  :root {
    --primary-bg-color: #fff;
    --primary-text-color: #1e1e1e;
    --primary-border-color: #757575;
    --btn-primary-color: #3dadff;
    --btn-border-primary-color: #007ad2;
    --btn-primary-active-color: #c2e5ff;
    --correct-color: #cdf4d3;
    --correct-text-color: #00a3b5;
    --correct-border-color: #66d575;
    --wrong-color: #fec6c1;
    --wrong-border-color: #f24822;
    --wrong-text-color: #da4a4a;
    --blank-color: #c2e5ff;
    --blank-border-color: #4eb4ff;
    --progress-bar-color: #319f69;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
    border-color: var(--primary-border-color);
  }

  body {
    background-color: var(--primary-bg-color);
  }

  .btn-primary {
    background-color: var(--btn-primary-color);
    border-color: var(--btn-border-primary-color);
  }

  .correct {
    background-color: var(--correct-color);
    border-color: var(--correct-border-color);
    color: var(--correct-text-color);
  }

  .wrong {
    background-color: var(--wrong-color);
    border-color: var(--wrong-border-color);
    color: var(--wrong-text-color);
  }

  .blank {
    background-color: var(--blank-color);
    border-color: var(--blank-border-color);
  }

  .progress-bar-color {
    background-color: var(--progress-bar-color);
  }

  button {
    cursor: pointer;
  }
}
